.Track2 {
  flex-direction: column;
}
.span-h44 {
  padding: 10px;
  border: 1px solid white;
  border-radius: 55%;
  background-color: #ffd84f;
  font-weight: bold;
}
@media (max-width: 700px) {
  div {
    .p225 {
      text-align: left !important;
      justify-content: left;
      /* margin-right: 50px; */
      margin: 0 !important;
    }
    .Track-right {
      margin: 50px 2px;
    }
  }
}
