@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
body {
  margin: 0;
  padding: 0;
}
.flex {
  display: flex !important;
}
li {
  list-style: none !important;
}
a {
  all: unset !important;
  cursor: pointer !important;
}
button {
  all: unset !important;
}
button:hover {
  cursor: pointer !important;
  scale: 1 !important;
}
/* .logo {
  border-right: 1px solid gray;
} */
